<h1>Articles</h1>
<.link href={~p"/articles/new"}>Write a new Article</.link>

<%= for article <- @articles do %>
  <h2>
    <.link href={~p"/articles/#{article.id}"}><%= article.title %></.link>
  </h2>
  <%= article.body %>
<% end %>
