<.link href={~p"/articles"}>Articles</.link>

<h1>Write a new article</h1>

<%= form_for @changeset, ~p"/articles", fn f -> %>
  <div class="p-4">
    <label for="title">Title</label>
    <%= text_input f, :title, class: "input" %>
  </div>
  <div class="p-4">
    <label for="summary">Summary</label>
    <%= textarea f, :summary, class: "input" %>
  </div>
  <div class="p-4">
    <label for="body">Article Body</label>
    <%= textarea f, :body, class: "input" %>
  </div>
  <%= submit "Submit" %>
<% end %>
